@using Library.Models
@model IList<Client>
@{
    ViewBag.Title = "ClientList";
}

<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Номер телефона</td>
                <td>Электронная почта</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Client client in Model)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.FirstName</td>
                    <td>@client.LastName</td>
                    <td>@client.Phone</td>
                    <td>@client.Email</td>
                </tr>
            }
        </tbody>
    </table>
            
</div>


